<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Address Books</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>All Address Books</h1>

<ul>
    <li th:each="book : ${addressBooks}">
        <a th:href="@{'/addressbooks/' + ${book.id} + '/view'}"
           th:text="'Address Book #' + ${book.id}"></a>
    </li>
</ul>

<h2>Create New Address Book</h2>
<form th:action="@{/addressbooks/create}" th:object="${newBook}" method="post">
    <button type="submit">Create</button>
</form>

</body>
</html>
